absl-py==2.4.0
acres==0.5.0
aenum==3.1.17
aiohappyeyeballs==2.7.1
aiohttp==3.14.2
aiosignal==1.4.0
altgraph==0.17.5
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.2
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
attrs==26.1.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
ci-info==0.4.0
click==8.1.8
cmake==4.3.4
colorama==0.4.6
comtypes==1.4.16
configobj==5.0.9
configparser==7.2.0
contourpy==1.3.3
cryptography==49.0.0
customtkinter==6.0.0
cycler==0.12.1
darkdetect==0.8.0
defusedxml==0.7.1
Deprecated==1.3.1
deprecation==2.1.0
dlib==20.0.1
docx2pdf==0.1.8
easyocr==1.7.2
etelemetry==0.3.1
face-recognition-models==0.3.0
fastapi==0.128.2
filelock==3.29.0
fire==0.7.1
flatbuffers==25.12.19
fonttools==4.63.0
fpdf2==2.8.7
frozenlist==1.8.0
fsspec==2026.4.0
future==1.0.0
GPUtil==1.4.0
greenlet==3.5.3
gTTS==2.5.4
h11==0.16.0
httplib2==0.32.0
httptools==0.8.0
idna==3.18
ImageIO==2.37.3
img2pdf==0.6.3
importlib_resources==7.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.5.0
lazy-loader==0.5
line-bot-sdk==3.25.0
looseversion==1.3.0
lxml==6.1.1
Markdown==3.10.2
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.11.0
mdurl==0.1.2
mediapipe==0.10.35
mpmath==1.3.0
multidict==6.7.1
networkx==3.6.1
nibabel==5.4.2
ninja==1.13.0
nipype==1.11.0
numpy==2.4.6
ocrmypdf==17.8.0
opencv-contrib-python==5.0.0.93
opencv-python==5.0.0.93
opencv-python-headless==5.0.0.93
packaging==26.2
Panda3D==1.10.16
panda3d-gltf==1.3.0
panda3d-simplepbr==0.13.1
pandas==3.0.3
pdf2docx==0.5.13
pdfminer.six==20260107
pdfplumber==0.11.10
pefile==2024.8.26
pi_heif==1.4.0
pikepdf==10.10.0
pillow==12.2.0
playwright==1.62.0
pluggy==1.6.0
propcache==0.5.2
prov==2.5.1
psutil==7.2.2
psycopg==3.3.4
psycopg-binary==3.3.4
puremagic==1.30
pyclipper==1.4.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pydot==4.0.1
pyee==13.0.1
pygame==2.6.1
Pygments==2.20.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pymupdf==1.28.0
PyMySQL==1.2.0
pyparsing==3.3.2
PyPDF2==3.0.1
pypdfium2==5.12.0
pyperclip==1.11.0
pypiwin32==223
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
pystray==0.19.5
pytesseract==0.3.13
python-bidi==0.6.11
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
python-multipart==0.0.20
pyttsx3==2.99
pytweening==1.2.0
pywin32==312
pywin32-ctypes==0.2.3
pyxnat==1.6.4
PyYAML==6.0.3
rdflib==7.6.0
requests==2.34.2
rich==15.0.0
scikit-image==0.26.0
scipy==1.17.1
screeninfo==0.8.1
shapely==2.1.2
shiboken6==6.11.1
simplejson==4.1.1
six==1.17.0
sounddevice==0.5.5
SQLAlchemy==2.0.50
starlette==0.50.0
sympy==1.14.0
termcolor==3.3.0
tifffile==2026.3.3
torch==2.13.0
torchvision==0.28.0
tqdm==4.70.1
traits==7.1.0
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
uharfbuzz==0.55.0
urllib3==2.7.0
ursina==7.0.0
uvicorn==0.48.0
watchfiles==1.2.0
websockets==16.1.1
wrapt==2.2.2
yarl==1.24.5
